
div{
    height: 400px;
    background-color: rgb(215, 215, 215);
    padding: 20px;
    margin: 100px;
    border-radius: 10px;
}
input[type=text],select{
    margin: 5px 0;
    width: 95%;
    height: 50px;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 10px;
    box-shadow: 1px -1px 1px -1px rgb(178, 178, 178);
}
input[placeholder]{
    padding-left: 5px;
}
input[type=submit]{
    margin: 5px 0;
    width: 95%;
    height: 50px;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 10px;
    box-shadow: 1px -1px 1px -1px rgb(178, 178, 178);
    background-color: aqua;
}
input[type=submit]:hover{
    background-color: rgba(9, 242, 242, 0.959);
}