#p1{
    text-align: left;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
#p2{
    text-align: left;
    color: rgb(226, 43, 49);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}