.color1 , .color2{
    background-color: antiquewhite;
    color: hsl(77, 18, 35);
    font-size: 20px;
    font-family: sans-serif;
}
.align1 , .p4{
    border: 1px;
    border-color:hsl(77, 18, 35);
    border-style: dotted;
    text-align: center;
}