
div{
    margin: 10px;
}
.backToTop{

    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    scroll-behavior: smooth;
}