/*background-image*/
body{
    
    background-image:url("images/flower.jpg") ;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: top center;
    background-attachment: fixed;
    background-blend-mode:hue;
    background-size: contain;

}